{% extends 'layout.html' %}
{% block titulo %}
<title>Index</title>
{% endblock %}

{% block conteudo %}
<body background="/static/wallpaper/metal2.jpg">

<head>
    <style>
.dropdown {
  position: relative;
  display: inline-block;
  padding: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}



    </style>
    <div class="dropdown">
        <img src="/static/logos/cate.png" width="200">
        <div class="dropdown-content">
            <li><a href="http://127.0.0.1:5000/">Home</a></li>
            <p>Hello World!</p>
            <p>Hello World!</p>
            <p>Hello World!</p>
            <p>Hello World!</p>
            <p>Hello World!</p>
            <p>Hello World!</p>
        </div>
    </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</body>
{% endblock %}
