{% extends 'layout.html' %}
{% block titulo %}
<title>Index</title>
{% endblock %}

{% block conteudo %}
<center>
<img src="/static/logos/texto.gif">
</center>
<body background="/static/wallpaper/este10.jpg">
<br>
<br>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-content w3-section" style="max-width:700px">

    <img class="mySlides w3-animate-fading" src="/static/Slide/01.jpg" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/Slide/02.jpg" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/Slide/03.png" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/Slide/04.jpg" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/Slide/05.png" style="width:100%">
    <img class="mySlides w3-animate-fading" src="/static/Slide/06.jpg" style="width:100%">
</div>

<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}
  x[myIndex-1].style.display = "block";
  setTimeout(carousel, 10000);
}

</script>

</body>
<br>
<br>
<br>
{% endblock %}
