{% extends 'layout.html' %}
{% block titulo %}
<title>Index</title>
{% endblock %}

{% block conteudo %}
<body background="/static/wallpaper/verma2.jpg">
</body>
<center>
    <img src="/static/informa/stand4.png" width="700">
</center>
<center>
<h>Fabricamos mobiliário em aço inox para a indústria hoteleira em geral, para o mercado nacional e internacional.<br> Como
    fabricantes aceitamos todo o tipo de “fabrico especial”—expositores, mobiliário urbano, mobiliário hospitalar e
    laboratorial—assim como todo o tipo de móveis
    e estruturas à medida.<br> Para o efeito, dispomos de gabinete de projectos que apoia o desenvolvimento de novos modelos
    em parceria com os nossos clientes, sempre atentos à sua satisfação na procura da melhor relação preço/qualidade.

    Somos rápidos na orçamentação das obras e disponíveis para analisar, até pessoalmente, qualquer tipo de solicitação.<br>
    A renovação do nosso parque de máquinas e aquisição de tecnologia de ponta tornam-nos extremamente competitivos nos
    prazos de entrega de todas as encomendas.<br>

    Sediados em Braga, um dos maiores pólos da indústria metalomecânica, região dotada de uma das maiores redes viárias
    de Portugal e beneficiando de uma grande proximidade a zonas portuárias e aeroporto, chegamos rapidamente a qualquer
    lugar do mundo.</h>
</center>
    <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
</body>
{% endblock %}
