<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    {% block titulo %}
    {% endblock %}

    <script type="text/javascript" src="/static/scroll.js"></script>
<body>

{% set livro = loja.livro %}
{% set menu = loja.produtos %}
{% set usr = loja.usr.id %}
{% set carrinho = loja.carrinho %}
{% set unidades = loja.unidades %}
{% set total = loja.total() %}

{% set icons = ['fas fa-question', 'fas fa-archive', 'fas fa-microchip', 'fas fa-desktop'] %}
<div class="navbar">
    <a class="active" href="/"><img src="/static/logos/logo.png" width="90"></a>
    {% for nome in menu %}
    <a href="/pr_ini/{{ nome.title }}"><i class="{{ icons.pop() }}"></i> {{ nome.title }}</a>
    {% endfor %}
    <a href="/carrinho_ini"><i class="fas fa-shopping-cart"></i> Carrinho</a>
    {% if usr %}
    <a href="/logout"><i class="fa fa-fw fa-user"></i> Logout</a>
    <user><i class="fa fa-fw fa-user-tie"></i> {{ usr }}</user>
    {% else %}
    <a href="/login"><i class="fa fa-fw fa-lock"></i> Login</a>
    <a href="/registo"><i class="fa fa-fw fa-user"></i> Registo</a>
    {% endif %}
</div>
{% block conteudo %}
{% endblock %}

<head>
    <title>Footer with Button and Logo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Footer-with-button-logo.css">
</head>

<body background="/static/wallpaper/metal2.jpg">
<div class="content">
</div>
<footer id="myFooter">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h2 class="logo"><img src="/static/logos/logo.png" width="150"></h2>
            </div>
            <div class="col-sm-2">
                <h5>Get started</h5>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/registo">Sign up</a></li>
                    <li><a href="http://foreigners.textovirtual.com/braline/224/46116/b_catalogo_maq.pdf">Downloads</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>About us</h5>
                <ul>
                    <li><a href="/info">Company Information</a></li>
                    <li><a href="/contactos">Contact us</a></li>
                </ul>
            </div>
            <div class="col-sm-2">
                <h5>Support</h5>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="https://forumdacasa.com/discussion/61194/inox-com-ferrugem/">Forums</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <div class="social-networks">
                    <a href="https://www.instagram.com" class="instagram"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100012551295946" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="https://news.google.com/?tab=rn&hl=pt-PT&gl=PT&ceid=PT:pt-150" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
                <button type="button" class="btn btn-default">Contact us</button>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© Copyright 2019 Hugo Ferreira </p>
    </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<br>
<center>
</center>
</body>
</html>
